@charset 'utf-8';
*{
	font-family: '微软雅黑';
}
.box{
	width: 100%;
	min-width: 750px;
	height: 1344px;
	background: #f0f0f0;
}
.header{
	width: 100%;
	min-width: 750px;
	height: 86px;
	text-align: center;
	background: #39c6e3;
}
.header i.left{
	float: left;
	margin-left: 20px;
	width: 25px;
	height: 86px;
	background: url('../images/return.png') no-repeat center;
}
.header h1{
	margin-left: -45px;
	display: inline-block;
	font-size: 36px;
	line-height: 88px;
	color: #f7f7f7;
}
.content{
	margin: 0 auto;
	width: 100%;
	min-width: 750px;
	background: #fff;
}
.content form{
	margin: 0 auto;
}
.phone{
	margin-top: 181px;
}
.phone input,
.password input{
	margin-top: 20px;
	width: 70%;
	font-family: '微软雅黑';
	border: none;
}
.phone span,
.password span{
	color: #f23c49;
}
.phone,
.password,
.btn,
.password{
	padding-left: 42px;
	width: 100%;
	min-width: 750px;
	height: 98px;
	font-size: 32px;
	font-family: "微软雅黑";
	border:none;
	border-bottom: 2px solid #eee;
	box-sizing: border-box;
}
.verification{
	float: left;
	width: 67.2%;
	height: 96px;
	font-size: 32px;
	font-family: "微软雅黑";
	border:none;
}
.obtain{
	float: right;
	margin-top: 19px;
	width: 32.8%;
	height: 59px;
	line-height: 59px;
	font-size: 28px;
	font-family: "微软雅黑";
	color: #333;
	border: none;
	border-left: 2px solid #eee;
	background: #fff;
}
.password{
	margin-bottom: 34px;
}
.queren{
	position: relative;
	left: 5%;
	margin: 12px auto 0;
	width: 90%;
	height: 88px;
	font-size: 34px;
	font-family: "微软雅黑";
	line-height: 88px;
	text-align: center;
	border: none;
	color: #000;
	background: #39c6e3;
}