@charset 'utf-8';
*{
	font-family: '微软雅黑';
}
.box{
	width: 100%;
	min-width: 750px;
	background: #f0f0f0;
}
.header{
	width: 100%;
	min-width: 750px;
	height: 86px;
	text-align: center;
	background: #39c6e3;
}
.header i.left{
	float: left;
	margin-left: 20px;
	width: 25px;
	height: 86px;
	background: url('../images/return.png') no-repeat center;
}
.header h2{
	margin-left: 54px;
	display: inline-block;
	font-size: 36px;
	line-height: 88px;
	color: #f7f7f7;
}
.header p{
	float: right;
	margin: 0 30px 0 0;
	font-size: 34px;
	line-height: 86px;	
	color: #f7f7f7;
}
.conter{
	width: 100%;
	min-width: 750px;
	height: 90px;
	background: #f7f7f7;
}
.conter ul li{
	float: left;
	margin-left: 8.4%;
	width: 65px;
	font-size: 30px;
	line-height: 90px;
	text-align: center;
}
.conter ul li.express{
	color: #39c6e3;
	line-height: 88px;
	border-bottom: 2px solid #39c6e3;
}
.information{
	width: 100%;
	min-width: 750px;
	height: 80px;
	background: #f0f0f0;
}
.information p{
	margin-left: 30px;
	font-size: 32px;
	line-height: 80px;
	color: #333;
}
.btn{
	width: 100%;
	min-width: 750px;
	height: 173px;
	background: #f7f7f7;
}
.btn1{
	width: 100%;
	height: 640px;
	background: #f0f0f0;
}
.dizhi{
	padding-left: 30px;
	width: 100%;
	min-width: 750px;
	height: 92px;
	line-height: 92px;
	border-bottom: 2px solid #f0f0f0;
	box-sizing: border-box;
	background: #f7f7f7;
}
.dizhi p{
	float: left;
	margin-right: 92px;
	font-size: 32px;
	color: #333;
}
.dizhi input{
	font-size: 30px;
	font-family: '微软雅黑';
	line-height: 92px;
	color: #8e8e8e;
	border: none;
	background: none;
}
.dizhi img{
	float: right;
	margin: 33px 30px 0 0;
}
.xiangqing{
	float: left;
	padding-left: 30px;
	width: 100%;
	min-width: 750px;
	height: 82px;
	line-height: 82px;
	border-bottom: 2px solid #f0f0f0;
	box-sizing: border-box;
	background: #f7f7f7;
}
.xiangqing p{
	float: left;
	margin-right: 92px;
	font-size: 32px;
	color: #333;
}
.xiangqing input{
	width: 60%;
	font-size: 30px;
	font-family: '微软雅黑';
	line-height: 92px;
	color: #8e8e8e;
	border: none;
	background: none;
}
.shangjin{
	float: left;
	padding-left: 30px;
	width: 100%;
	min-width: 750px;
	height: 92px;
	line-height: 92px;
	border-bottom: 2px solid #f0f0f0;
	box-sizing: border-box;
	background: #f7f7f7;
}
.shangjin p{
	float: left;
	margin-right: 62px;
	font-size: 32px;
	color: #333;
}
.shangjin input{
	font-size: 30px;
	font-family: '微软雅黑';
	line-height: 92px;
	color: #8e8e8e;
	border: none;
	background: none;
}
.time{
	float: left;
	padding-left: 30px;
	width: 100%;
	min-width: 750px;
	height: 92px;
	line-height: 92px;
	border-bottom: 2px solid #f0f0f0;
	box-sizing: border-box;
	background: #f7f7f7;
}
.time p{
	float: left;
	margin-right: 92px;
	font-size: 32px;
	color: #333;
}
.time input{
	font-size: 30px;
	font-family: '微软雅黑';
	line-height: 92px;
	color: #8e8e8e;
	border: none;
	background: none;
}
.sex{
	float: left;
	padding-left: 30px;
	width: 100%;
	min-width: 750px;
	height: 92px;
	line-height: 92px;
	border-bottom: 2px solid #f0f0f0;
	box-sizing: border-box;
	background: #f7f7f7;
}
.sex p{
	float: left;
	margin-right: 29px;
	font-size: 32px;
	color: #333;
}
.sex form{
	font-size: 30px;
	line-height: 92px;
	color: #8e8e8e;
	border: none;
	background: none;
}
.sex input{
	position: relative;
	margin-right: 12px;
	top: 5px;
	width: 28px;
	height: 28px;
	font-family: '微软雅黑';
}
.sex1{
	margin-left: 48px;
}
.beizhu{
	float: left;
	padding-left: 30px;
	width: 100%;
	min-width: 750px;
	height: 92px;
	line-height: 92px;
	border-bottom: 2px solid #f0f0f0;
	box-sizing: border-box;
	background: #f7f7f7;
}
.beizhu p{
	float: left;
	margin-right: 92px;
	font-size: 32px;
	color: #333;
}
.beizhu input{
	font-size: 30px;
	font-family: '微软雅黑';
	line-height: 92px;
	color: #8e8e8e;
	border: none;
	background: none;
}
.phone{
	float: left;
	margin-bottom: 5px;
	padding-left: 30px;
	width: 100%;
	min-width: 750px;
	height: 92px;
	line-height: 92px;
	box-sizing: border-box;
	background: #f7f7f7;
}
.phone p{
	float: left;
	margin-right: 29px;
	font-size: 32px;
	color: #333;
}
.phone input{
	font-size: 30px;
	font-family: '微软雅黑';
	line-height: 92px;
	color: #8e8e8e;
	border: none;
	background: none;
}
.footer{
	width: 100%;
	min-width: 750px;
	height: 112px;
	border-top: 1px solid #e3e3e3;
	background: #f7f7f7;
}
.footer input{
	position: relative;
	left: 5%;
	margin: 12px auto 0;
	width: 90%;
	height: 88px;
	font-size: 34px; 
	font-family: '微软雅黑';
	line-height: 88px;
	text-align: center;
	color: #f7f7f7;
	background: #f32938;
	border: none;
	border-radius: 6px;
}
.alert{
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	min-width: 750px;
	height: 100%;
	background: rgba(0,0,0,.4);
}
.bg{
	position: relative;
	top: 5%;
	margin: 0 auto;
	width: 599px;
	height: 1077px;
	background: #fff;
}
.bg h2{
	font-size: 36px;
	line-height: 90px;
	text-align: center;
}
.alert-text p{
	padding: 30px 29px 0 29px;
	width: 599px;
	height: 888px;
	font-size: 32px;
	box-sizing: border-box;
}
.queren{
	position: absolute;
	bottom: 0;
	width: 599px;
	height: 98px;
	font-size: 36px;
	font-family: '微软雅黑';
	background: #fff;
	border-radius: 10px;
	border: 1px solid #bbb;
}